/* common */

body{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1
,h2{
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  color: blue;
}

h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}

p{
  margin: 0;
  line-height: 1.5;
}

p+p{
  margin-top: 16px;
}

a{
  text-decoration: none;
  color: inherit;
}


.btn{
  display: block;
  width: 160px;
  background: #329e00;
  color:#eee;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: bold;
}

.container{
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
}


img{
  vertical-align: bottom;
}
/* header */


header{
    background: #eee;
    padding: 16px 0;
  }

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero */

.hero{
  background-image: url(../img/bg.png);
  background-color: #99e6ff;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 64px;

  text-align: center;
}

.hero p{
  margin-top: 8px;
}

.hero .btn{
  margin: 64px auto 0;
  
}
.hero img{
  margin-top: 64px;
}

/* features */

.features h1{
  text-align: center;
  padding-bottom: 64px;
}

.features img{
  width: 100%;
}

.features .pic{
  padding: 32px;
}

.features {
  padding: 64px 0;
}

.features h2{
  padding-bottom: 16px;
}

/* 要素間の隙間調整 */

.features section+section{
  margin-top: 40px;
}

/* voices */
.voices{


  background: #99e6ff;
  padding: 64px 0;
}

.voices h1{
  text-align: center;
  padding-bottom: 64px;
}

.voices section{
  background: #fff;
  padding: 16px;
  border-radius: 16px;
}

.voices footer{
  display: flex;
  gap:8px;
  margin-top: 16px;
  align-items: center;
}

.voices section+section{
  margin-top: 16px;
}

/* call-to-action */
.call-to-action{
  padding: 64px 0;
}
.call-to-action h1{
  text-align: center;
  padding-bottom: 64px;
}
.call-to-action .btn{
  margin: 0 auto;
}

.call-to-action{
    background-image: url(../img/bg.png);
  background-color: #5fc0e0;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 64px;

  text-align: center;
}

/* copy right  */
.copyright{
  background: #323435;
  padding: 64px 0;
  text-align: center;
}
.copyright small{
  font-size: 16px;
  color: #eee;
}

/* large screen  */
@media (min-width: 600px){
  .hero .container{
    display: flex;
    align-items: center;
  }
  .hero .desc,
  .hero .pic{
    width: 50%;
  }

  .hero img{
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
  }

  .features section{
    display: flex;
  }
  .features section:nth-child(odd){
    flex-direction: row-reverse;
  }

  .voices .container{
    display: flex;
    gap: 16px;
  }

  .voices section+section{
    margin-top: 0;
  }
  .voices section{
    width: calc((100% - 32px)/3);
    display: flex;
    font-display: column;
    justify-content: space-between;
  }
  
}